<div class="main">
  <div class="search-container form-control">
    <input type="text" placeholder="&#x1F50E;&#xFE0E; Search.." name="search">
  </div>
  <div class="left">
    <h3>Direct meassage</h3>
    <div class="vertical-menu">
      <a href="#">person 1</a>
      <a href="#">person 2</a>
      <a href="#">person 3</a>
      <a href="#">person 4</a>
      <a href="#">person 1</a>
      <a href="#">person 2</a>
      <a href="#">person 3</a>
      <a href="#">person 4</a>
    </div>
    <h3>Product Team</h3>
    <div class="vertical-menu">
      <a href="#">web team 1</a>
      <a href="#">sales team</a>
      <a href="#">finance team</a>
      <a href="#">marketing team</a>
    </div>
    <div class="endmenu">
      <h4>Profile Name</h4>
      <h4>log Out</h4>
    </div>

  </div>
  <div class="right">

  </div>
</div>
