<!-- <h1>{{name}}</h1>
<h6>{{objnm.name}} {{objnm.sname}}</h6>
<h6>number: {{number}}</h6>
<h6>array number: {{arraynum}}</h6>
<h6>array string: {{array}}</h6>
<h6>array of obj: {{arrobj}}</h6>
<h4>{{todaydate}}</h4>
<app-firstchild></app-firstchild>
 -->

<!-- <h1 routerLink="/candidate">Candidate</h1>
<h1 routerLink="/course">course</h1>
<h1 routerLink="/enquiry">enquiry</h1>
<h1 routerLink="/enrollment">enrollment</h1>
<h1 routerLink="/payment">payment</h1>
 -->
 <router-outlet></router-outlet>
