<p>http2 works!</p>
<table>
  <tr>
    <th>userId</th>
    <th>Id</th>
    <th>title</th>
    <th>Language</th>
  </tr>
  <tr *ngFor='let item of dataList'>
    <td>{{item.userId}}</td>
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.body}}</td>
  </tr>
</table>

<div class="container">

  <div>
    <p>get API Link : http://onlinetestapi.gerasim.in/api/OnlineTest/GetAllCourseList</p>
    <p>post API Link : http://onlinetestapi.gerasim.in/api/OnlineTest/AddCourse </p>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="alert alert-success" *ngIf="isShowAlert">
        <strong>Success!</strong>Record Saved Successfully.
      </div>
      <div class="alert alert-danger" *ngIf="isShowError">
        <strong>Danger!</strong> Error Occured.
      </div>
      <table>
        <thead>
          <tr>
            <th>courseId</th>
            <th>courseName</th>
            <th>courseDuration</th>
            <th>courseBasicFees</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of languagelist">
            <td>{{list.courseId}}</td>
            <td>{{list.courseName}}</td>
            <td>{{list.courseDuration}}</td>
            <td>{{list.courseBasicFees}}</td>
            <td>
              <button class="btn btn-success m-1" (click)="onEdit(list)"> Edit</button>
              <button class="btn btn-danger  m-1" (click)="deleteLanguage(list)">Delelte</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <form class="col">
      <!-- <input type="text" [(ngModel)]="languageData.courseId" name="courseId" placeholder="Enter Course Id"> -->
      <input type="text" class="form-group mb-2" [(ngModel)]="languageObj.courseName" name="courseName"
        placeholder="Enter Course Name">
      <br>
      <input type="text" class="form-group  mb-2" [(ngModel)]="languageObj.courseDuration" name="courseDuration"
        placeholder="Enter Course Duration">
      <br>
      <input type="text" class="form-group  mb-2" [(ngModel)]="languageObj.courseBasicFees" name="courseBasicFees"
        placeholder="Enter Course Basic Fees">

      <div *ngIf="languageObj.courseId ==0">
        <button (click)="addnewLanguage()">Add language</button>
      </div>
      <div *ngIf="languageObj.courseId != 0">
        <button (click)="updateLanguage()">update language</button>
      </div>
    </form>
  </div>

</div>
