<p>{{name}}</p>
<div>{{count}}</div>
<button (click)="increfun()">Increment</button>
<button (click)="decrefun()">decrement</button>
<div><select name="" id=""(change)="selectop()">
    <option value="">asd</option>
    <option value="">wed</option>
    <option value="">poi</option>
</select></div>
<input type="text" name="" id="" [(ngModel)]="num1"><br>
<input type="text" name="" id="" [(ngModel)]="num2"><br>
<button (click)="adding()">add</button><br>
<input type="text" name="" id="" [(ngModel)]="result"><br>
