<h3>parent class for all component</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/vari">variable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/calcu">calculators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/namelist">namelist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/proBinding">Property Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ngif">NG if</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ngfor">NG for</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ngstyle">NG style</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/validation">validation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/httpclient">http Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/http2">http file 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/http3">http file 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/http4">http file 4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/http5">http file 5</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pipe">Pipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/candidate">candidate</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">

    </div>
  </nav>

  <div class="container">
    <!-- <app-webpa ge></app-webpage> -->
  </div>

<router-outlet></router-outlet>
