<div class="headerclass">
  <ul class="menu">
      <li>
          <div class="fl">
              <div class="log"><span class="logo"></span></div>
              <div><a href="#" class="button">Agent</a></div>
          </div>
      </li>
      <li>
          <div class="fl">
              <div class="log"><span class="logo"></span></div>
              <div><a href="#" class="button">Second</a></div>
          </div>
      </li>
      <li>
          <div class="fl">
              <div class="log"><span class="logo"></span></div>
              <div><a href="#" class="button">Third</a></div>
          </div>
      </li><li>
          <div class="fl">
              <div class="log"><span class="logo"></span></div>
              <div><a href="#" class="button">Four</a></div>
          </div>
      </li>
  </ul>
</div>
