*{
  text-decoration: none;
}
.headerclass{
  padding: 15px 0;
  width: 100%;

}
.menu{
  display: flex;
  padding: 5px 0;
  align-items: center;
  background-color: #ff3b94;
  height: 15vh;
  justify-content: space-around;

}
li{
  /* display: inline; */
  list-style: none;
  padding: 1%;
  /* border: 2px solid #000000; */
  border-radius: 50px;
  background-color: #af3dff;
}

ul li a{
  color: #000000;
  font-size: 1.2vw;
  font-weight: 500;
  align-items: center;
  color: #ffffff;
}
ul li a:hover{
  text-decoration: none;
}
.fl{
  display: flex;
}
.log{
  margin-top: 4%;
}
.logo{
  background-color: #55ffe1;
  padding: 0 15px;
  border: 2px solid #000000;
  border-radius: 50px;
  align-items: center;
}
.button{
  font-size: 18px;
  padding: 5px 20px;
  justify-content: space-between;

}
