<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="wrapper container align-items-center mt-5">
      <div class="card">
        <form action="#" class="d-flex container flex-column pt-3" #form="ngForm">
          <div class="h3 text-center text-white">Login</div>
          <div class="align-items-center input-field mb-4">
            <input type="text" name="username" placeholder="Enter User Name" [(ngModel)]="loginObj.userName"
              class="form-control py-3" #username="ngModel" minlength="3" required>
            <div class="text-danger" *ngIf="username.touched">
              <span *ngIf="username.errors?.['required']">Enter the name</span>
              <span *ngIf="username.errors?.['minlength']">min 3 char requrired</span>
            </div>
          </div>
          <div class="align-items-center input-field mb-4">
            <input type="password" placeholder="Password" [(ngModel)]="loginObj.password" class="py-3 form-control"
              name="password" #passwd="ngModel" minlength="3" required>
            <div class="text-danger" *ngIf="passwd.touched">
              <span *ngIf="passwd.errors?.['required']">Enter the passward</span>
              <span *ngIf="passwd.errors?.['minlength']">min 3 char requrired</span>
            </div>
            <button class="btn" onclick="showPassword()">
            </button>
          </div>
          <div class="d-sm-flex align-items-sm-center justify-content-sm-between">
            <div class="d-flex align-items-center">
              <label class="option">
                <span class="text-light-white">Remember Me</span>
                <input type="checkbox" checked>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="mt-sm-0 mt-3"><a href="#">Forgot password?</a></div>
          </div>
          <div class="my-3  text-center">
            <input type="submit" value="Login" (click)="onSubmit()" [disabled]="form.invalid"
              class="btn py-2 btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
