<p>http4 works!</p>

<div class="container my-4 bg-light">
  <div class="py-3">
    <p>Comments get API :- <span class="text-danger">click on API link
        <a class="text-strong" (click)="showtable()">https://jsonplaceholder.typicode.com/comments</a></span></p>
  </div>
  <table *ngIf="show" class="Container mx-4 ">
    <tr>
      <th>UserId</th>
      <th>Title</th>
      <th>Completed</th>
    </tr>
    <tr *ngFor='let item of dataList, let no=index'>
      <td>{{no+1}}</td>
      <td>{{item.title}}</td>
      <td>{{item.completed}}</td>
    </tr>
  </table>
</div>

<div class="container-fluid">
  <div class="py-3 container row text-center">
    <h3 class="mb-3">Candidate  API :-</h3>
    <p class="col-6">get: <a href="http://onlinetestapi.gerasim.in/api/OnlineTest/GetAllCandidates">http://onlinetestapi.gerasim.in/api/OnlineTest/GetAllCandidates</a></p>
    <p class="col-6">Add: <a href="http://onlinetestapi.gerasim.in/api/OnlineTest/AddCandidate">http://onlinetestapi.gerasim.in/api/OnlineTest/AddCandidate</a></p>
    <p class="col-6">Update: <a href="http://onlinetestapi.gerasim.in/api/OnlineTest/UpdateCandiadte">http://onlinetestapi.gerasim.in/api/OnlineTest/UpdateCandiadte</a></p>
    <p class="col-6">Delete: <a href="http://onlinetestapi.gerasim.in/api/OnlineTest/DeleteCandidate">http://onlinetestapi.gerasim.in/api/OnlineTest/DeleteCandidate</a></p>
  </div>
  <div class="row">
    <div class="col-2">
      <form class="container shadow-sm p-3 align-center bg-light border rounded">
        <div class="mb-3 mt-3">
          <input type="text" class="form-control" [(ngModel)]="CandidateInfo.name" name="courseName"
          placeholder="Enter Candidate Name">
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" [(ngModel)]="CandidateInfo.contactNo" name="contactNo"
          placeholder="Enter Contact number">
        </div>
        <div class="mb-3">
          <input type="email" class="form-control  mb-2" [(ngModel)]="CandidateInfo.email" name="email"
          placeholder="Enter Email ID">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control mb-2" [(ngModel)]="CandidateInfo.password" name="password"
          placeholder="Enter Password">
        </div>
        <div class="mb-3">
          <input type="date" class="form-control  mb-2" [(ngModel)]="CandidateInfo.createdDate" name="CreatedDate"
          placeholder="Enter Date">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control  mb-2" [(ngModel)]="CandidateInfo.city" name="City"
          placeholder="Enter information">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control  mb-2" [(ngModel)]="CandidateInfo.collegeName" name="collegeName"
          placeholder="Enter college Name">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control  mb-2" [(ngModel)]="CandidateInfo.education" name="education"
          placeholder="Enter education">
        </div>
        <div *ngIf="CandidateInfo.CandidateId == 0">
          <button class="btn btn-primary" (click)="addCandidate()">Add language</button>
        </div>
        <div *ngIf="CandidateInfo.CandidateId != 0">
          <button class="btn btn-primary" (click)="updateCandidate()">update language</button>
        </div>
      </form>
    </div>
    <div class="col container shadow-sm p-3 align-center bg-light border rounded">
      <table *ngIf="true" class="table">
        <thead class="thead-light">
          <tr>
            <th>Sr. No.</th>
            <th>Candidate Id</th>
            <th>Name</th>
            <th>contact No</th>
            <th>email</th>
            <th>password</th>
            <th>createdDate</th>
            <th>city</th>
            <th>collegeName</th>
            <th>education</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let list of candidateList, let no=index'>
            <td>{{no+1}}</td>
            <td>{{list.candidateId}}</td>
            <td>{{list.name}}</td>
            <td>{{list.contactNo | custpipe}}</td>
            <td>{{list.email}}</td>
            <td>{{list.password}}</td>
            <td>{{list.createdDate}}</td>
            <td>{{list.city}}</td>
            <td>{{list.collegeName}}</td>
            <td>{{list.education}}</td>
            <td>
              <button class="btn btn-success m-1" (click)="onEdit(list)"> Edit</button>
              <button class="btn btn-danger  m-1" (click)="deleteCandidate(list)">Delelte</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
