<div class="">
  <div class="d-flex mx-3 justify-content-between infoTitle">
    <p>Task</p>
    <span (click)="changeicon()" class="pt-3">
      <i *ngIf="droplist" class="fa fa-2x fa-angle-up" aria-hidden="true"></i>
      <i *ngIf="!droplist" class="fa fa-2x fa-angle-down" aria-hidden="true"></i>
    </span>
  </div>
  <div class="vertical-menu" *ngIf="droplist">
    <a href="#"><i class="fa pe-5 fa-tasks"></i> <span>web team 1 </span> <i class="fa fa-ellipsis-h float-end"
        aria-hidden="true"></i></a>
    <a href="#"><i class="fa pe-5 fa-tasks"></i> <span>sales team </span> <i class="fa fa-ellipsis-h float-end"
        aria-hidden="true"></i></a>
    <a href="#"><i class="fa pe-5 fa-tasks"></i> <span>finance team </span> <i class="fa fa-ellipsis-h float-end"
        aria-hidden="true"></i></a>
    <a href="#"><i class="fa pe-5 fa-tasks"></i> <span>marketing team </span> <i class="fa fa-ellipsis-h float-end"
        aria-hidden="true"></i></a>
    <a href="#" class="viewall"><i class="fa fa-plus pe-2 "></i> <span>view all </span> </a>

  </div>
  <hr>
  <div class="d-flex mx-3 justify-content-between infoTitle">
    <p>Alert</p>
    <span (click)="changeicon1()" class="pt-3">
      <i *ngIf="droplist1" class="fa fa-2x fa-angle-up" aria-hidden="true"></i>
      <i *ngIf="!droplist1" class="fa fa-2x fa-angle-down" aria-hidden="true"></i>
    </span>
  </div>
  <div class="vertical-menu" *ngIf="droplist1">
    <a href="#"><i class="fa pe-5 fa-exclamation-circle"></i> <span>web team 1 </span> <i
        class="fa fa-ellipsis-h float-end" aria-hidden="true"></i></a>
    <a href="#"><i class="fa pe-5 fa-exclamation-circle"></i> <span>sales team </span> <i
        class="fa fa-ellipsis-h float-end" aria-hidden="true"></i></a>
    <a href="#"><i class="fa pe-5 fa-exclamation-circle"></i> <span>finance team </span> <i
        class="fa fa-ellipsis-h float-end" aria-hidden="true"></i></a>
    <a href="#"><i class="fa pe-5 fa-exclamation-circle"></i> <span>marketing team </span> <i
        class="fa fa-ellipsis-h float-end" aria-hidden="true"></i></a>
    <a href="#" class="viewall"><i class="fa fa-plus pe-2 "></i> <span>view all </span> </a>
  </div>
  <hr>

</div>
 <details>
  <summary>Devloper Akshay</summary>
  <p>this is deisgn for testing perpose</p>
 </details>
 <details>
  <summary>Devloper Akshay</summary>
  <p>this is deisgn for testing perpose</p>
 </details> <details>
  <summary>Devloper Akshay</summary>
  <p>this is deisgn for testing perpose</p>
 </details>
 <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
