
<div class="area d-flex">
  <nav class="main-menu">
    <ul>
      <li>
        <a class="mb-4" routerLink=" ">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
            Login
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a class="mb-4">
          <i class="fa fa-search fa-2x"></i>
          <span class="nav-text">
            Search
          </span>
        </a>

      </li>
      <li class="has-subnav" class="mb-4">
        <a routerLink="/home">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Home
          </span>
        </a>

      </li>
      <li class="has-subnav" class="mb-4">
        <a routerLink="/media">
          <i class="fa fa-star fa-2x"></i>
          <span class="nav-text">
            Media
          </span>
        </a>

      </li>
      <li>
        <a class="mb-4" routerLink="/music">
          <i class="fa fa-music fa-2x"></i>
          <span class="nav-text">
            Music
          </span>
        </a>
      </li>
      <li>
        <a class="mb-4" routerLink="/films">
          <i class="fa fa-film fa-2x"></i>
          <span class="nav-text">
            Film
          </span>
        </a>
      </li>
    </ul>
    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="header">
      <div class="input-group">
        <button type="button" class="btn">
          <i class="fas fa-search"></i>
        </button>
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" (keydown.enter)="onKeydown()">
        </div>
      </div>
    </div>

  </div>
</div>
<div class="ml container-fluid">
  <router-outlet></router-outlet>
</div>
