
<div class="container row justify-content-md-center my-5 mx-auto">
  <div class="col-4" *ngFor='let list of enquirylist'>
    <div class="card mb-3" style="max-width: 540px;font-size: 12px;">
      <div class="card-header">Enqiry Id :- {{list.enqiryId}}</div>
      <div class="card-body">
        <h5 class="card-title">name:- {{list.name}}</h5>
        <p class="card-text">Contact:- {{list.contactNo}}</p>
        <p class="card-text">Email:- {{list.email}}</p>
        <p class="card-text">College Name:- {{list.query}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
