<div>
    <input type="text"[(ngModel)]="addlanguage.language" placeholder="Enter the name">
    <button (click)="Onsavelang()">add Data</button>
</div>

<!-- <div class="alert alert-success" *ngIf="isShowAlert">
  <strong>Success!</strong>Record Saved Successfully.
</div>
<div class="alert alert-danger" *ngIf="isShowError">
  <strong>Danger!</strong> Error Occured.
</div> -->

<table>
    <tr>
        <th>sr no</th>
        <th>name of language</th>
    </tr>
    <tr *ngFor='let item of languageList'>
        <td>{{item.LanguageId}}</td>
        <td>{{item.Language}}</td>
    </tr>

</table>
<table>
    <tr>
        <th>LanguageTopicId</th>
        <th>LanguageId</th>
        <th>TopicName</th>
        <th>Language</th>
        <th>OrderNo</th>
    </tr >
    <tr *ngFor='let finalitem of languageListsecond'>
        <td>{{finalitem.LanguageTopicId}}</td>
        <td>{{finalitem.LanguageId}}</td>
        <td>{{finalitem.TopicName}}</td>
        <td>{{finalitem.Language}}</td>
        <td>{{finalitem.OrderNo}}</td>
    </tr>
</table>
<div>
    <p>http://onlinetestapi.gerasim.in/api/OnlineTest/AddCourse</p>

</div>
