<div class="container-fluid mt-4">
  <div class="row">
    <!-- <p-messages [value]="msgs"></p-messages> -->
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="alert alert-danger mt-3" *ngIf="isError">
        <strong>Error! Group Name Already added</strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-0 px-0" [ngClass]="issidepanelOpen?'col-md-9':'col-md-12'">
      <div class="card">
        <div class="card-header bg-success text-white">
          <div class="row">
            <div class="col-md-6">
              <h6>CandidateList</h6>
            </div>
            <div class="col-md-6 text-end">
              <button class="btn btn-sm btn-warning fw-bold" (click)="OnAdd()" id="btnAdd">Add Candidate</button>
            </div>
          </div>
        </div>
        <div class="card-body px-2">
          <table class="table table-bordered border-dark border-2">
            <thead>
              <tr>
                <th>SrNo</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Password</th>
                <th>City</th>
                <th>College Name</th>
                <th>Education</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="isLoaderon">
                <tr>
                  <td class="text-center" colspan="12">
                    <img src="assets/loader.png" alt="">
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="!isLoaderon">
                <!-- <p-confirmDialog [style]="{ width: '50vw'}"  [baseZIndex]="1000"></p-confirmDialog> -->
                <tr *ngFor="let item of candidateList,let srno=index">
                  <td class="text-center">{{srno+1}}</td>
                  <td>{{item.name | titlecase}}</td>
                  <td>{{item.contactNo}}</td>
                  <td class="email_width">{{item.email}}</td>
                  <td>{{item.password}}</td>
                  <td>{{item.city}}</td>
                  <td class="clgname_width">{{item.collegeName}}</td>
                  <td class="edu_width">{{item.education}}</td>
                  <td>
                    <button class="btn btn-secondary fw-bold btn-sm mt-1 me-1" (click)="onEdit(item)">Edit</button>

                    <button class="btn btn-danger fw-bold btn-sm mt-1" (click)="OnDelete(item)">Delete</button>
                    <!-- <p-confirmDialog [style]="{ width: '50vw' }" key="positionDialog" [position]="position"
                    [baseZIndex]="10000"></p-confirmDialog> -->
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="candidateList.length==0">
                <tr>
                  <td colspan="10" class="text-center">
                    No Record Present
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3" *ngIf="issidepanelOpen" id="divSide">
      <div class="card">
        <div class="card-header bg-success text-white">
          <div class="row ">
            <div class="col-md-6">
              <h6>Enter Candidate Details</h6>
            </div>
            <div class="col-md-6 text-end">
              <button class="btn btn-sm btn-warning btnClose" (click)="onClose()" id="">Close</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #form="ngForm" action="" class="form-wrap">
            <div class="row mt-2">
              <div class="col-md-12 mt-2">
                <label for="">Name</label>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="candidateObj.name" class="form-control"
                  required>
                <div class="text-danger" *ngIf="name.touched">
                  <span *ngIf="name.errors?.['required']">required</span>
                </div>
              </div>
              <div class="col-md-12">
                <label for="">Email</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="candidateObj.email" class="form-control"
                  required>
                <div class="text-danger" *ngIf="email.touched">
                  <span *ngIf="email.errors?.['required']">required</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mt-2">
                <label for="">Password</label>
                <input type="password" name="password" #Pass="ngModel" [(ngModel)]="candidateObj.password"
                  class="form-control" required>
                <div class="text-danger" *ngIf="Pass.touched">
                  <span *ngIf="Pass.errors?.['required']">required</span>
                </div>
              </div>
              <div class="col-md-6 mt-2">
                <label for="">ContactNo</label>
                <input type="number" name="contactno" #contact="ngModel" [(ngModel)]="candidateObj.contactNo"
                  class="form-control" required>
                <div class="text-danger" *ngIf="contact.touched">
                  <span *ngIf="contact.errors?.['required']">required</span>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="">City</label>
                <input type="text" name="city" #city="ngModel" [(ngModel)]="candidateObj.city" class="form-control"
                  required>
                <div class="text-danger" *ngIf="city.touched">
                  <span *ngIf="city.errors?.['required']">required</span>
                </div>
              </div>
              <div class="col-md-6">
                <label for="">Education</label>
                <input type="text" name="Education" #education="ngModel" [(ngModel)]="candidateObj.education"
                  class="form-control" required>
                <div class="text-danger" *ngIf="education.touched">
                  <span *ngIf="education.errors?.['required']">required</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="">CollegeName</label>
                <input type="text" name="CollegeName" #college="ngModel" [(ngModel)]="candidateObj.collegeName"
                  class="form-control" required>
                <div class="text-danger" *ngIf="college.touched">
                  <span *ngIf="college.errors?.['required']">required</span>
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class="card-footer  text-center">
          <div class="row">
            <div class="col-md-6">
              <div class="saveform" *ngIf="candidateObj.candidateId == 0">
                <button class="btn btn-sm btn-danger" [disabled]="form.invalid" (click)="addCandidate()">
                  <span class="spinner-grow spinner-grow-sm " *ngIf="isLoaderon"></span>Save</button>
              </div>
              <div class="closeform" *ngIf="candidateObj.candidateId != 0">
                <button class="btn btn-sm btn-warning" [disabled]="form.invalid" (click)="UpdateCandidate()">
                  <span class="spinner-grow spinner-grow-sm text-dark" *ngIf="isLoaderon"></span>Update</button>
              </div>
            </div>
            <div class="col-md-6">
              <button class="btn btn-sm btn-danger mx-2" (click)="onClose()">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="ismodalOpen">
  <app-alertbox (onbtnclick)="onModelBtnClicked($event)"></app-alertbox>
</div> -->
