<div class="rightSide card">
    <div class="header card-header">
      <div class="imgText">
          <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8pa9GYZH_-HFPa1cmz0jHxuOEmHDORnrZiYTqeg_PZw&s"
          class="rounded-circle userimg shadow-sm bg-secondary rounded">

        <h4>Qazi <br><span>online</span></h4>
      </div>
      <div class="d-flex">
        <i class="fa mx-2 p-2 fa-2x fa-video-camera" aria-hidden="true"></i>
        <i class="fa mx-2 p-2 fa-2x fa-phone" aria-hidden="true"></i>
        <i class="fa mx-2 p-2 fa-2x fa-ellipsis-h float-end" aria-hidden="true"></i>
      </div>

    </div>

    <!-- CHAT-BOX -->
    <div class="chatbox card-body">
      <div class="message friend_msg">
        <p>Lorem ipsum dolor sit amet lorem50 consectetur adipisicing elit.<br><span>12:15</span></p>
      </div>
      <div class="message my_msg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
      </div>
      <div class="message friend_msg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
      </div>
      <div class="message my_msg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
      </div>
      <div class="message friend_msg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
      </div>
      <div class="message my_msg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
      </div>
      <div class="message friend_msg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
      </div>
      <div class="message my_msg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
      </div>
      <div class="message friend_msg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
      </div>
    </div>
    <!-- CHAT INPUT -->
    <div class="chat_input ">
      <!-- <ion-icon name="happy-outline"></ion-icon> -->
      <!-- <ion-icon name="happy-outline"></ion-icon> -->
      <input type="text" placeholder="Type a message">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-1x fa-send"></i></span>
    </div>
      <!-- <ion-icon name="mic"></ion-icon> -->
    </div>
  </div>
