<div class="container-fluid">
  <div class="col-md-12 mt-4">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-9">
        <table class="table table-bordered table-stripped">
          <thead>
            <tr>
              <th>Date Time</th>
              <th>Open</th>
              <th>High</th>
              <th>Low</th>
              <th>Close</th>
              <th>Volume</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of demoList">
              <td>{{item | json}}</td>
              <!-- <td>{{item['1. open'] | json}}</td> -->
                          <!-- <td>{{item.low}}</td>
                          <td>{{item.close}}</td>
                          <td>{{item.volume}}</td> -->

            </tr>
          </tbody>
          <!-- <tr *ngFor="let item of dataarray,let srno = index">
            <td>{{srno+1}}</td>
            <td *ngFor="let heading of headarray">{{item[heading]}}</td>
            <td>
              <button (click)="onedit(item)">edit</button>
              <button (click)="onDelete(item)">Delete</button>
            </td>
          </tr> -->
        </table>
      </div>
    </div>
  </div>
</div>
