<div class="container-fluid">
  <div class="col-md-12 mt-4">
    <div class="col-12"></div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-9">
        <table class="table table-bordered table-stripped">
          <thead>
            <tr>
              <th>Date Time</th>
              <th>Open</th>
              <th>High</th>
              <th>Low</th>
              <th>Close</th>
              <th>Volume</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let keys of demoList">
              <td>{{getkey(keys)}}</td>
              <td>{{keys[getkey(keys)]['1. open']}}</td>
              <td>{{keys[getkey(keys)]['2. high']}}</td>
              <td>{{keys[getkey(keys)]['3. low'] |json}}</td>
              <td>{{keys[getkey(keys)]['4. close'] |json}}</td>
              <td>{{keys[getkey(keys)]['5. volume'] |json}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
