<div class="slider-container">
  <div class="slick-slider slick-initialized" dir="ltr">
    <div class="slick-list">
      <div class="slick-track" style="width: 23940px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
        <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false"
          style="outline: none;">
          <div>
            <div data-index="1260124584" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple movie-card vertical"><a
                    href="/in/movies/jaya-jaya-jaya-jaya-hey/1260124584"
                    to="/in/movies/jaya-jaya-jaya-jaya-hey/1260124584" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/6479/1436479-v-3bd70e9e2b4d"
                          class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                    </div>
                    <div class="details">
                      <div class="content-play"><span class="content-title ellipsise"> Jaya Jaya Jaya Jaya Hey</span>
                      </div>
                      <div class="sub-info">
                        <div class="dur show-gradient">2 hr 23 min</div>, <span class="subtitle">Comedy, Family,
                          Malayalam, Hindi, Tamil, Telugu, 2022</span>
                      </div>
                      <div class="description ellipsize">Being brought up in a conservative family, Jaya feels even more
                        trapped when she marries Rajesh, a m ...</div>
                      <div class="action play-action" role="none">
                        <div class="play-icon"></div>
                        <div class="title">Watch movie</div>
                      </div>
                      <div class="action watchlist-action">
                        <div class="add-to-watchlist">
                          <div class="click-icon" title="Add to Watchlist">
                            <div class="click-icon-wrapper">
                              <div class="watchlist-icon"></div>
                              <p class="icon-title">Add to Watchlist</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a></article>
              </div>
            </div>
          </div>
        </div>
        <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
          <div>
            <div data-index="1260125572" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple movie-card vertical"><a href="/in/movies/govinda-naam-mera/1260125572"
                    to="/in/movies/govinda-naam-mera/1260125572" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/4789/1434789-v-1452aa371a60"
                          class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                    </div>
                  </a></article>
              </div>
            </div>
          </div>
        </div>
        <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
          <div>
            <div data-index="1260125568" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple movie-card vertical"><a
                    href="/in/movies/jagamemaya-instant-karma/1260125568"
                    to="/in/movies/jagamemaya-instant-karma/1260125568" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/1208/1431208-v-895cd0d6b37f"
                          class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                    </div>

                  </a></article>
              </div>
            </div>
          </div>
        </div>
        <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
          <div>
            <div data-index="1260122964" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple show-card vertical"><a href="/in/tv/fall/1260122964"
                    to="/in/tv/fall/1260122964" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/9477/1429477-v-4c6f37f48b10"
                          class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                    </div>

                  </a></article>
              </div>
            </div>
          </div>
        </div>
        <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
          <div>
            <div data-index="1260124273" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple movie-card vertical"><a href="/in/movies/monster/1260124273"
                    to="/in/movies/monster/1260124273" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_1_5x/sources/r1/cms/prod/5613/1425613-v-75e4bceee4f9"
                          class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                    </div>

                  </a></article>
              </div>
            </div>
          </div>
        </div>
        <div data-index="5" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
          <div>
            <div data-index="1260124210" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple movie-card vertical"><a href="/in/movies/freddy/1260124210"
                    to="/in/movies/freddy/1260124210" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/5978/1425978-v-4153334e09b1"
                          class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                    </div>

                  </a></article>
              </div>
            </div>
          </div>
        </div>
        <div data-index="6" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
          <div>
            <div data-index="1260103700" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple show-card vertical"><a href="/in/tv/willow/1260103700"
                    to="/in/tv/willow/1260103700" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_1_5x/sources/r1/cms/prod/3854/1423854-v-a109668f45a7"
                          class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                    </div>

                  </a></article>
              </div>
            </div>
          </div>
        </div>
        <div data-index="7" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
          <div>
            <div data-index="1260123526" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple movie-card vertical"><a href="/in/movies/sita-ramam/1260123526"
                    to="/in/movies/sita-ramam/1260123526" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_1_5x/sources/r1/cms/prod/5673/1415673-v-b18dac34005a"
                          class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                    </div>

                  </a></article>
              </div>
            </div>
          </div>
        </div>
        <div data-index="8" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
          <div>
            <div data-index="1260121999" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple movie-card vertical"><a href="/in/movies/rorschach/1260121999"
                    to="/in/movies/rorschach/1260121999" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/103/1410103-v-86e3d98722e8"
                          class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                    </div>

                  </a></article>
              </div>
            </div>
          </div>
        </div>
        <div data-index="9" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
          <div>
            <div data-index="1260110227" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple movie-card vertical"><a href="/in/movies/brahmstra-part-one-shiva/1260110227"
                    to="/in/movies/brahmstra-part-one-shiva/1260110227" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_1_5x/sources/r1/cms/prod/5052/1405052-v-2063bab41935"
                          class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                    </div>

                  </a></article>
              </div>
            </div>
          </div>
        </div>
        <div data-index="10" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
          <div>
            <div data-index="1260118356" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple show-card vertical"><a href="/in/tv/jhansi/1260118356"
                    to="/in/tv/jhansi/1260118356" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_1_5x/sources/r1/cms/prod/7869/1397869-v-f1300120c358"
                          class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div>
                    </div>

                  </a></article>
              </div>
            </div>
          </div>
        </div>
        <div data-index="18" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
          <div>
            <div data-index="1260110684" tabindex="-1" style="width: 100%; display: inline-block;">
              <div class="vertical">
                <article class="ripple show-card vertical"><a href="/in/tv/exposed/1260110684"
                    to="/in/tv/exposed/1260110684" target="">
                    <div class="thumbnail-container">
                      <div class="card card-img-container"><img
                          src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_1_5x/sources/r1/cms/prod/4581/1404581-v-25fab6b2015e"
                          class="img-loader lazy-img-loader" loading="lazy" alt=""></div>
                    </div>

                  </a></article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><i class="right-arrow"></i>
</div>
