<div class="container">
  <div class="row mt-3">
    <div class="col-md-3 d-flex justify-content-end">
      <div *ngIf="showForm==true" class="flex-end">
        <button class="btn btn-primary" (click)="addhideform()">Add language</button>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center my-3">
    <div class="col-6">
      <div class="alert alert-success" *ngIf="isShowAlert">
        <strong>Success!</strong>Record Saved Successfully.
      </div>
      <div class="alert alert-danger" *ngIf="isShowError">
        <strong>Danger!</strong> Error Occured.
      </div>
      <form class="container shadow-sm p-3 align-center bg-light border rounded row"  *ngIf="showForm==false" #form="ngForm">
        <div class="mb-3 mt-3 col-md-6">
          <input type="text" class="form-control" [(ngModel)]="CandidateInfo.name" name="courseName"
            placeholder="Enter Candidate Name"
            #cname="ngModel" minlength="3" required>
          <div class="text-danger" *ngIf="cname.touched">
            <span *ngIf="cname.errors?.['required']">Enter the field</span>
            <span *ngIf="cname.errors?.['minlength']">min 3 char requrired</span>
          </div>
        </div>
        <div class="mb-3 mt-3 col-md-6">
          <input type="number" class="form-control" [(ngModel)]="CandidateInfo.contactNo" name="contactNo"
            placeholder="Enter Contact number"
            #canumber="ngModel" minlength="10" maxlength="10" required>
          <div class="text-danger" *ngIf="canumber.touched">
            <span *ngIf="canumber.errors?.['required']">Enter the field</span>
            <span *ngIf="canumber.errors?.['minlength']">10 digit requrired</span>
            <span *ngIf="canumber.errors?.['maxlength']">10 digit requrired</span>
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <input type="email" class="form-control  mb-2" [(ngModel)]="CandidateInfo.email" name="email"
            placeholder="Enter Email ID">
        </div>
        <div class="mb-3 col-md-6">
          <input type="password" class="form-control mb-2" [(ngModel)]="CandidateInfo.password" name="password"
            placeholder="Enter Password" #passwd="ngModel" minlength="3" required>
            <div class="text-danger" *ngIf="passwd.touched">
              <span *ngIf="passwd.errors?.['required']">Enter the passward</span>
              <span *ngIf="passwd.errors?.['minlength']">min 3 char requrired</span>
            </div>
        </div>
        <div class="mb-3 col-md-6">
          <input type="date" class="form-control  mb-2" [(ngModel)]="CandidateInfo.createdDate" name="CreatedDate"
            placeholder="Enter Date">
        </div>
        <div class="mb-3 col-md-6">
          <input type="text" class="form-control  mb-2" [(ngModel)]="CandidateInfo.city" name="City"
            placeholder="Enter information">
        </div>
        <div class="mb-3 col-md-12">
          <input type="text" class="form-control  mb-2" [(ngModel)]="CandidateInfo.collegeName" name="collegeName"
            placeholder="Enter college Name">
        </div>
        <div class="mb-3 col-md-12">
          <input type="text" class="form-control  mb-2" [(ngModel)]="CandidateInfo.education" name="education"
            placeholder="Enter education">
        </div>
        <div *ngIf="CandidateInfo.CandidateId == 0" class="col-md-6">
          <button class="btn btn-primary" (click)="addCandidate()" [disabled]="form.invalid">Add language</button>
        </div>
        <div *ngIf="CandidateInfo.CandidateId != 0"  class="col-md-6">
          <button class="btn btn-primary" (click)="updateCandidate()">update language</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary" (click)="addhideform()">cancel</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row container justify-content-md-center">
    <div class="col-6" *ngFor='let list of candidateList'>
      <div class="card mb-3" style="max-width: 540px;">

        <div class="row g-0">
          <div class="col-md-5">
            <img src="profile-icon-blank-profile.png" height="100px" width="10px" class="img-fluid rounded-start" alt="profile-img">
          </div>
          <div class="col-md-7" style="font-size: 12px;">
            <div class="card-header">Candidate Id :- {{list.candidateId}}</div>
            <div class="card-body">
              <h5 class="card-title">name:- {{list.name}}</h5>
              <p class="card-text">Contact:- {{list.contactNo}}</p>
              <p class="card-text">Email:- {{list.email}}</p>
              <p class="card-text">College Name:- {{list.collegeName}}</p>
              <p class="card-text">Eduction:- {{list.education}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer row">
              <button class="btn btn-success m-1 col" (click)="onEditCandidate(list)"> Edit</button>
              <button class="btn btn-danger  m-1 col" (click)="deleteCandidate(list)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
